body {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    background: rgb(66, 63, 63);
 
}


.title{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.p-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: red;
    background: #fff;
}